################################################ Camera params ##############################################################
# IPM mapping parameters
IPMParameterX : "./src/Params/ParamX.txt"
IPMParameterY : "./src/Params/ParamY.txt"

# Camera lane info parameters
MarginX : 38   # 좌우 여백 (픽셀)
MarginY : 20   # 상하 여백 (픽셀)
IntervalX : 0.05 # 1픽셀당 5cm
IntervalY : 0.02 # 1픽셀당 2cm

# ParamX, ParamY 기준 --> IPM 이랑 맞아야 함
RemapHeight   : 320
RemapWidth    : 400
# 기본 이미지 1280 * 720 

# Camera intrinsic parameters
D : [-0.08518303109375061, 0.09162271169535907, 0.0031898210475882326, -0.005419073450784245, 0.0]
K : [671.3594253991467, 0.0, 644.3611380949407, 0.0, 630.607858047108, 350.24879773346635, 0.0, 0.0, 1.0]
R : [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
P : [691.3732719305283, 0.0, 635.1545782791846, 0.0, 0.0, 652.0944375524983, 353.9317933389513, 0.0, 0.0, 0.0, 1.0, 0.0]

# Camera extrinsic parameters (world -> camera)
Extrinsic:
  # R_wc: 월드(체커보드 Z=0 좌표계) → 카메라 좌표계 회전행렬
  R_world_to_cam: 
    [0.03572025681015567,
     -0.9990705229650034,
     -0.024127855185476832,
     0.41062389480461925,
     -0.00733841187445039,
     0.9117752819234826,
     -0.9111048678768552,
     -0.04247632109300126,
     0.40998009936764346]

  # t_wc: 월드 원점(체커보드 (0,0,0))의 카메라 좌표
  t_world_to_cam:
    [-0.05909602651839573,
      0.07888430901427085,
      0.5081930879829226]

  # 카메라 중심의 월드 좌표 (C_w = -R^T t)
  camera_center_world:
    [0.4327363393198976,
    -0.03687603978650274,
     0.28169967616988706]   # 높이는 이 z값 (약 0.28m)

  camera_height_m: 0.28169967616988706

  # 바닥(Z=0) 평면 [X,Y,1]^T → 이미지 [u,v,1]^T
  H_ground_to_image:
    [-563.0994385017949,
     -698.1055028325821,
      287.78520213789545,
      -60.17072981727529,
      -19.50494058857899,
      227.73908322349186,
      -0.9111048678768552,
      -0.04247632109300126,
      0.5081930879829226]

  # 투영행렬 P_extrinsic = K [R | t] (필요할 때만 사용)
  P_world_to_cam:
    [-563.0994385017949,
     -698.1055028325821,
      247.97678043137606,
      287.78520213789545,
      -60.17072981727529,
      -19.50494058857899,
      718.5676944522296,
      227.73908322349186,
      -0.9111048678768552,
      -0.04247632109300126,
      0.40998009936764346,
      0.5081930879829226]

################################################ planning params ##############################################################
x_min_m: 0.42 # 이미지 하단 거리 (m)
x_max_m: 0.78 # 이미지 상단 거리 (m)
y_min_m: -0.335 # 이미지 오른쪽 (m)
y_max_m: 0.335 # 이미지 왼쪽(m)
ipm_width: 400.0 
ipm_height: 320.0

# 중심 offset --> 카메라가 차량 중심에서 9cm정도 뒤에 있음
origin_offset_x_m: 0.09  # 차량 좌표계 x offset
origin_offset_y_m: 0.022 # 차량 좌표계 y offset , 1cm(오른쪽이 -값)

lane_half_width: 0.175 # 실제 차폭의 절반 (m)
resample_step: 0.02 # 2cm 간격으로 centerline 샘플링


# // max_path_length_:
# //   - start_offset_y_에서 시작해서 몇 m까지 centerline을 만들지
# //   - 카메라 기준 0.42 ~ 0.73 m 구간을 보고 있다면,
# //     start_offset_y_를 0.42, max_path_length_를 0.31 정도로 두면
# //     대략 0.42 ~ 0.73 m까지만 사용하게 된다.
# //   - 여기서는 기본값을 0.31으로 맞춰둠 (필요하면 parameter로 조정).

max_path_length: 0.36 # path의 최대 길이(m)
start_offset_y: 0.42 # path의 시작 지점 (m)

marker_z: 0.0 # rviz상의 marker z 값
lane_timeout_sec: 0.2 # 차선 메시지 타임아웃 
path_debug: false

centerline_offset: 0.008  #(m)

################################################ control params ##############################################################
# pure pursuit param
lookahead_distance: 0.45 # 기본 lookahead (m)
min_lookahead: 0.40 # 최소 lookahead
max_lookahead: 0.70 # 최대 lookahead
car_L: 0.26 # 차량 축간 거리 (m)

# speed: cmd_vel.linear.x = 0 ~ 50 근처 사용
base_speed: 30.0 # 직선 기준 속도
min_speed: 10.0 # 너무 느리면 제어 불안정하니 10 이상 사용하기 
max_speed: 50.0 # 하드웨어 속도 상한값
max_angular_z: 1.0  # steer max val

# speed Pid params
slope_speed_kp: 15.0
slope_speed_ki: 0.001
slope_speed_kd: 1.0
slope_integral_limit: 5.0 # 적분 항 클램프 한계

# steer filter 조향 신뢰도 
max_steer_rate: 8.0 # rad/s, 한 프레임당 변화율 제한
max_steer_jump: 1.5 # 변화량 제한값

steer_debug: false # debugging
path_topic: "/planning/path"

################################################ global path params later ##############################################################

# # Planning Parameters

# # Car Specification
# WheelBase: 0.26           # m
# # Carwidth: 0.18           # m
# MaxSpeed: 5              # m/s, (100.0/3.6)
# MaxCurvature: 1.0      # 계산 필요 

# # Frenet Path Parameters
# SamplingTime: 0.2             # s
# MaxPredictionTime: 5.0       # s
# MinPredictionTime: 4.0        # s
# SpeedSamplingTime: 1.39       # m/s, (5.0 / 3.6)
# SpeedSamplingNum: 0       
# SafetyDistance: 0.01          # m
# CostJ: 0.1                    # 종방향 가속도 변화량에 대한 Cost
# CostT: 0.1                    # 도달 시간에 대한 Cost
# CostD: 1.0                    # 횡방향 가속도 변화량에 대한 Cost
# CostLat: 1.0                  # 횡방향 총 비용에 대한 Cost
# costLon: 1.0                  # 종방향 총 비용에 대한 Cost

# # Controller Selection
# Stanley: false
# PurePursuit: false
# MPC: false


# # road info
# # 실제 차폭 --> 픽셀 차폭 계산필요 
# Lane_width : 35 # cm 

################################################ Camera Info data ##############################################################

# header:
#   stamp:
#     sec: 1763027390
#     nanosec: 369885986
#   frame_id: camera_color_optical_frame
# height: 720
# width: 1280
# distortion_model: plumb_bob
# d:
# - -0.05687744915485382
# - 0.0666823461651802
# - 0.00023321561457123607
# - 0.0009857810800895095
# - -0.021434923633933067
# k:
# - 642.61376953125
# - 0.0
# - 642.3194580078125
# - 0.0
# - 641.842041015625
# - 364.51129150390625
# - 0.0
# - 0.0
# - 1.0
# r:
# - 1.0
# - 0.0
# - 0.0
# - 0.0
# - 1.0
# - 0.0
# - 0.0
# - 0.0
# - 1.0
# p:
# - 642.61376953125
# - 0.0
# - 642.3194580078125
# - 0.0
# - 0.0
# - 641.842041015625
# - 364.51129150390625
# - 0.0
# - 0.0
# - 0.0
# - 1.0
# - 0.0
# binning_x: 0
# binning_y: 0
# roi:
#   x_offset: 0
#   y_offset: 0
#   height: 0
#   width: 0
#   do_rectify: false


################################################ Camera calibration data ##############################################################


# *** Added sample 1, p_x = 0.512, p_y = 0.180, p_size = 0.157, skew = 0.065
# *** Added sample 2, p_x = 0.514, p_y = 0.327, p_size = 0.180, skew = 0.028
# *** Added sample 3, p_x = 0.551, p_y = 0.215, p_size = 0.230, skew = 0.000
# *** Added sample 4, p_x = 0.550, p_y = 0.414, p_size = 0.219, skew = 0.070
# *** Added sample 5, p_x = 0.547, p_y = 0.530, p_size = 0.248, skew = 0.017
# *** Added sample 6, p_x = 0.667, p_y = 0.475, p_size = 0.239, skew = 0.000
# *** Added sample 7, p_x = 0.645, p_y = 0.385, p_size = 0.225, skew = 0.141
# *** Added sample 8, p_x = 0.599, p_y = 0.369, p_size = 0.219, skew = 0.279
# *** Added sample 9, p_x = 0.635, p_y = 0.244, p_size = 0.233, skew = 0.203
# *** Added sample 10, p_x = 0.539, p_y = 0.151, p_size = 0.272, skew = 0.118
# *** Added sample 11, p_x = 0.457, p_y = 0.141, p_size = 0.151, skew = 0.186
# *** Added sample 12, p_x = 0.454, p_y = 0.027, p_size = 0.197, skew = 0.132
# *** Added sample 13, p_x = 0.557, p_y = 0.395, p_size = 0.295, skew = 0.180
# *** Added sample 14, p_x = 0.473, p_y = 0.438, p_size = 0.312, skew = 0.080
# *** Added sample 15, p_x = 0.394, p_y = 0.442, p_size = 0.327, skew = 0.222
# *** Added sample 16, p_x = 0.372, p_y = 0.457, p_size = 0.345, skew = 0.023
# *** Added sample 17, p_x = 0.438, p_y = 0.501, p_size = 0.354, skew = 0.153
# *** Added sample 18, p_x = 0.430, p_y = 0.602, p_size = 0.339, skew = 0.067
# *** Added sample 19, p_x = 0.423, p_y = 0.350, p_size = 0.361, skew = 0.062
# *** Added sample 20, p_x = 0.445, p_y = 0.520, p_size = 0.355, skew = 0.336
# *** Added sample 21, p_x = 0.401, p_y = 0.696, p_size = 0.404, skew = 0.001
# *** Added sample 22, p_x = 0.444, p_y = 0.817, p_size = 0.404, skew = 0.095
# *** Added sample 23, p_x = 0.454, p_y = 0.648, p_size = 0.388, skew = 0.166
# *** Added sample 24, p_x = 0.356, p_y = 0.724, p_size = 0.386, skew = 0.115
# *** Added sample 25, p_x = 0.443, p_y = 0.722, p_size = 0.353, skew = 0.250
# *** Added sample 26, p_x = 0.444, p_y = 0.843, p_size = 0.343, skew = 0.505
# *** Added sample 27, p_x = 0.370, p_y = 0.805, p_size = 0.398, skew = 0.215
# *** Added sample 28, p_x = 0.507, p_y = 0.577, p_size = 0.321, skew = 0.188
# *** Added sample 29, p_x = 0.569, p_y = 0.651, p_size = 0.296, skew = 0.138
# *** Added sample 30, p_x = 0.568, p_y = 0.692, p_size = 0.291, skew = 0.308
# *** Added sample 31, p_x = 0.573, p_y = 0.464, p_size = 0.270, skew = 0.324
# *** Added sample 32, p_x = 0.573, p_y = 0.498, p_size = 0.264, skew = 0.484
# *** Added sample 33, p_x = 0.578, p_y = 0.552, p_size = 0.257, skew = 0.628
# *** Added sample 34, p_x = 0.536, p_y = 0.593, p_size = 0.251, skew = 0.345
# *** Added sample 35, p_x = 0.601, p_y = 0.488, p_size = 0.264, skew = 0.108
# *** Added sample 36, p_x = 0.519, p_y = 0.795, p_size = 0.283, skew = 0.406
# *** Added sample 37, p_x = 0.476, p_y = 0.517, p_size = 0.268, skew = 0.246
# *** Added sample 38, p_x = 0.557, p_y = 0.804, p_size = 0.315, skew = 0.157
# *** Added sample 39, p_x = 0.516, p_y = 0.703, p_size = 0.270, skew = 0.507
# *** Added sample 40, p_x = 0.516, p_y = 0.712, p_size = 0.259, skew = 0.703
# **** Calibrating ****
# mono pinhole calibration...
# D = [-0.08518303109375061, 0.09162271169535907, 0.0031898210475882326, -0.005419073450784245, 0.0]
# K = [671.3594253991467, 0.0, 644.3611380949407, 0.0, 630.607858047108, 350.24879773346635, 0.0, 0.0, 1.0]
# R = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
# P = [691.3732719305283, 0.0, 635.1545782791846, 0.0, 0.0, 652.0944375524983, 353.9317933389513, 0.0, 0.0, 0.0, 1.0, 0.0]
# None
# # oST version 5.0 parameters


# [image]

# width
# 1280

# height
# 720

# [narrow_stereo]

# camera matrix
# 671.359425 0.000000 644.361138
# 0.000000 630.607858 350.248798
# 0.000000 0.000000 1.000000

# distortion
# -0.085183 0.091623 0.003190 -0.005419 0.000000

# rectification
# 1.000000 0.000000 0.000000
# 0.000000 1.000000 0.000000
# 0.000000 0.000000 1.000000

# projection
# 691.373272 0.000000 635.154578 0.000000
# 0.000000 652.094438 353.931793 0.000000
# 0.000000 0.000000 1.000000 0.000000

# **** Calibrating ****
# mono pinhole calibration...
# D = [-0.08518303109375061, 0.09162271169535907, 0.0031898210475882326, -0.005419073450784245, 0.0]
# K = [671.3594253991467, 0.0, 644.3611380949407, 0.0, 630.607858047108, 350.24879773346635, 0.0, 0.0, 1.0]
# R = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
# P = [691.3732719305283, 0.0, 635.1545782791846, 0.0, 0.0, 652.0944375524983, 353.9317933389513, 0.0, 0.0, 0.0, 1.0, 0.0]
# None
# # oST version 5.0 parameters


# [image]

# width
# 1280

# height
# 720

# [narrow_stereo]

# camera matrix
# 671.359425 0.000000 644.361138
# 0.000000 630.607858 350.248798
# 0.000000 0.000000 1.000000

# distortion
# -0.085183 0.091623 0.003190 -0.005419 0.000000

# rectification
# 1.000000 0.000000 0.000000
# 0.000000 1.000000 0.000000
# 0.000000 0.000000 1.000000

# projection
# 691.373272 0.000000 635.154578 0.000000
# 0.000000 652.094438 353.931793 0.000000
# 0.000000 0.000000 1.000000 0.000000

# ('Wrote calibration data to', '/tmp/calibrationdata.tar.gz')
# ('Wrote calibration data to', '/tmp/calibrationdata.tar.gz')
# D = [-0.08518303109375061, 0.09162271169535907, 0.0031898210475882326, -0.005419073450784245, 0.0]
# K = [671.3594253991467, 0.0, 644.3611380949407, 0.0, 630.607858047108, 350.24879773346635, 0.0, 0.0, 1.0]
# R = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
# P = [691.3732719305283, 0.0, 635.1545782791846, 0.0, 0.0, 652.0944375524983, 353.9317933389513, 0.0, 0.0, 0.0, 1.0, 0.0]
# # oST version 5.0 parameters


# [image]

# width
# 1280

# height
# 720

# [narrow_stereo]

# camera matrix
# 671.359425 0.000000 644.361138
# 0.000000 630.607858 350.248798
# 0.000000 0.000000 1.000000

# distortion
# -0.085183 0.091623 0.003190 -0.005419 0.000000

# rectification
# 1.000000 0.000000 0.000000
# 0.000000 1.000000 0.000000
# 0.000000 0.000000 1.000000

# projection
# 691.373272 0.000000 635.154578 0.000000
# 0.000000 652.094438 353.931793 0.000000
# 0.000000 0.000000 1.000000 0.000000
